*{
   margin-left: 10px;
   margin-right: 20px;
   font-family: 'Montserrat', sans-serif;
}

.masked{
  display: none;
}

.visible{
  display: block;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#login-button, #register-button, #show-login, #show-registration{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
}

#add-question-button, #delete-question-button{
   width: 15%;
}

.logout-button{
   float: right;
   color: blue;
}

/*#questionnaire-table{
   width=100%;
}*/

.table {
  border-collapse: collapse;
  text-align: center;
  width: 50%;
}

.table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

/*table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
*/
#errormessage{
  color: red;
}
