<html>

   <head>
      <title>  Home Page  </title>
      <a th:href="@{/Logout}" class="logout-button" href=""> Logout </a>
       <script src="************.js"></script>
       <link rel="stylesheet" href="style.css">
       <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
   </head>

   <body>

      <h2>Image of the day</h2><br><br>

      <div class="product-of-the-day-container">
         <p id="image-description" > Universe </p><br>
         <img id="image" src="img.jpg" alt="test-img" width="200" height="300"><br>
      </div>

      <div class="reviews-container">
         <h3>User's reviews</h3>

         <table class="reviews">
      		<tr>
      		    <th>Username</th>
      		    <th>Review</th>
      	    </tr>
      	    <tr th:each="q: ${**********}">
      		    <td th:text="${************}">fra</td>
                <td th:text="${***********}">caspita bellissima</td>
      	    </tr>
             <tr th:each="q: ${**********}">
              <td th:text="${************}">fede</td>
              <td th:text="${***********}">male</td>
           </tr>
         </table>

      </div><br><br>

      <div class="questionnaire-container">
         <a th:href="@{/**********}" id="questionnaire" href=""> Compile the questionnaire! </a>
      </div>
   </body>


</html>
