<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="ISO-8859-1">
        <title>  Home Page  </title>
        <!--script src="../js/************.js"></script-->
        <link rel="stylesheet" type="text/css" media="all" href="../css/style.css" th:href="@{/css/style.css}" >
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    </head>

    <body>
        <a th:href="@{/Logout}" class="logout-button">Logout</a>
        <h1>Welcome to the User Home Page<span class="sessionuser" th:text="${' ' + session.user.username}"></span></h1><br>

        <fieldset>
            <h2>Product of the day</h2><br>
            <div class="product-of-the-day-container">
                <p   th:text="${product.name}" id="image-description" name="image-name"> No Product Of The Day </p><br>
                <img th:src="@{'data:image/png;base64,'+${image}}"  /><br>
            </div>
        </fieldset>

        <br><br>

        <div th:if="${product.getId() != 2}" class="reviews-container">

            <h3>Users' reviews</h3> <br>

            <table class="table" id="reviews">

                <div th:each="mq: ${product.marketingquestionsById}">

                    <tr th:with="myCounter = ${counter.getAndIncrement()}">
                        <th th:if="${myCounter==0}" th:text="${'Username'}"></th>
                        <th th:if="${myCounter!=0}" th:text="${''}"></th>
                        <th th:text="${mq.getText()}"></th>
                    </tr>

                    <tr th:each="ma: ${mq.marketinganswersById}">
                        <td th:text="${ma.userByUserId.username}"></td>
                        <td th:text="${ma.text}"></td>
                    </tr>

                </div>

            </table>

        </div>


        <br><br>


        <form action="GoToCompileQuestionnaire" method="POST">

            <input type="hidden" name="product" th:value="${product.getId()}">

            <!--there is a new questionnaire and the user can compile it -->
            <div th:if="${product.getId() != 2 && doQuestionnaire==true}">
                <input class="compile-questionnaire-button" type="submit" value="Compile the questionnaire!">
            </div>

            <!--there isn't a new questionnaire but the user could compile it -->
            <!-- if the product has id=2, it means that it's not present for the current day, so we disable the button-->
            <div th:if="${product.getId() == 2 && doQuestionnaire==true}">
                <span class="errormessage"> Now there are no new questionnaire to compile, check later! </span>
            </div>

            <!--the user can't compile the questionnaire-->
            <div th:if="${doQuestionnaire==false}">
                <span th:if="${session.user.getBlocked()==1}">
                    <span class="errormessage"> You are blocked, you can't compile the questionnaire! </span>
                </span>
                <span th:if="${session.user.getBlocked()==0}">
                    <span class="errormessage">You already made the questionnaire!</span>
                </span>
            </div>

        </form>

        <br>

        <div th:if="${product.getId() != 2}">
            <form action="GoToLeaderboard" method="POST">
                <input type="hidden" name="productId" th:value="${product.getId()}">
                <input class="leaderbord-button" type="submit" value="Go to Leaderboard">
            </form>
        </div>

    </body>


</html>
