<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="ISO-8859-1">
        <title>  Leaderboard Page </title>
        <link rel="stylesheet" media="all" href="../css/style.css" th:href="@{/css/style.css}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    </head>

    <body>

        <a th:href="@{/Logout}" class="logout-button" href=""> Logout </a>
        <h1> Leaderboard </h1> <br>

        <table class="table" id="leaderboard-table">

            <tr>
                <th>Username</th>
                <th>Points</th>
            </tr>

            <tr th:each="entry: ${map}">
                <td th:text="${entry.key}"> - </td>
                <td th:text="${entry.value}"> - </td>
            </tr>

        </table>

        <br><br><button onclick='window.history.back()' id="back-button" > Back </button>

    </body>


</html>
