<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

   <head>
      <meta charset="ISO-8859-1">
      <title> Inspection </title>
      <a th:href="@{/Logout}" class="logout-button" href=""> Logout </a>
      <link rel="stylesheet" href="style.css">
      <script  src="inspection.js" charset="utf-8" defer></script>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
   </head>

   <body>

      <fieldset>

         <legend><strong> Select questionnaire to inspect  </strong></legend><br>

         <div th:each"q: {myQuestionnaires}" id="radio-container">
            <input value="${q.name}" type="radio" name="questionnaire" checked="checked"> Quest1 <br><br>
            <!-- da levare-->
            <input value="mockup2" type="radio" name="quest">   Quest2 <br><br>
            <input value="mockup1" type="radio" name="quest">   Quest3 <br><br>
         </div>

      </fieldset>

      <br><br><br>

      <fieldset>

         <legend><strong> Selected questionnaire</strong></legend><br>
         <span style="color:blue" id="selected-questionnaire"></span><br><br>

            <table id="questionnaire-table">
              <tr>
                 <th> Users who submitted it </th>
                 <th> Users who cancelled it </th>
                 <th> Answers </th>
               </tr>
               <tr>
                 <td>marco</td>
                 <td th:text="${***********}">paolo</td>
                 <td id="answers">
                    <ul th:each"r: {reviews}" id="list-reviews">
                       <li th:text="${r.description}">
                          marco: nice
                       </li>
                    </ul>
                 </td>
               </tr>
            </table>

         </fieldset>

   </body>

</html>
