<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="ISO-8859-1">
    <title> Deletion </title>
    <!--script type="text/javascript" th:src="@{/deletion.js}" src="../js/deletion.js" charset="utf-8" defer></script-->
    <link rel="stylesheet" media="all" href="../css/style.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>

    <a th:href="@{/Logout}" class="logout-button" > Logout </a>

    <fieldset>
        <legend><strong> Select questionnaire to delete  </strong></legend><br>

        <form action="DeleteQuestionnaire" method="POST">
            <div th:each="p: ${pastProducts}" id="radio-container">
                <div th:if="${p.id != 2}">
                    <input th:value="${p.id}" type="radio" name="product" th:text="${p.name}" checked="checked" ><br><br>
                </div>
            </div>
            <div th:if="${!pastProducts.isEmpty()}">
                <button id="delete-questionnaire"> Delete questionnaire </button>
            </div>
        </form>

    </fieldset>

    <br><br>
    <form action="GoToHomeAdmin" method="POST">
        <button id="back-button"> Back </button>
    </form>

</body>

</html>
