<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title> Creation </title>
    <link rel="stylesheet" media="all" href="../css/style.css" th:href="@{/css/style.css}">
    <script src="../js/creation.js" th:src="@{/js/creation.js}" charset="utf-8" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

<a th:href="@{/Logout}" class="logout-button" href=""> Logout </a>

<form action="InsertProduct" method="POST" enctype='multipart/form-data'>

    <fieldset>

        <legend><strong>Product insertion</strong></legend>

        <br><label>Select date: </label>
        <input type="date" id="date" name="date" required>
        <br><br>

        <label> Insert the name of the product of the day:</label>
        <input type="text" name="name" required>
        <br><br>

        <label for="img">Select image:</label>
        <input type="file" id="img" name="image" accept="image/*" required>
        <br><br>

        <div id="questions-container">
            <label> Insert a marketing question:</label>
            <input type="text"   name="question1" placeholder="Your question:" required> <!--OTHER QUESTIONS HAVE INCREMENTAL NAME: es: questionN-->
            <input type="hidden" name="numberofquestions" id="number-of-questions"/>   <!--TO CYCLE IN THE SERVLET value TIMES-->
        </div>

        <button type="button" id="add-question-button">Add another question</button>
        <button class="masked" type="button" id="delete-question-button">Delete a question</button>
        <br><br><br>

        <p th:text="${errormessage}" id="errormessage-login" class="errormessage"></p>
        <input id="send-button" type="submit" value="Send">

    </fieldset>

    <br><br><button onclick='window.history.back()' id="back-button" > Back </button>

</form>

</body>

</html>
