<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title> Inspection </title>
    <link rel="stylesheet" media="all" href="../css/style.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

    <a th:href="@{/Logout}" class="logout-button" href=""> Logout </a>

    <h1> Here are the data of the past questionnaires </h1><br>

    <div th:each="p: ${pastProducts}">
        <div th:if="${p.getId() != 2}">

            <fieldset>

                <legend><strong th:text="${p.name}"></strong></legend>

                <table th:if="${p.getId() != 2}" class="table">
                    <tr>
                        <th> Users who submitted it </th>
                    </tr>

                    <tr th:each="l: ${p.logsById}">
                        <div th:if="${l.submitted}">
                            <td th:text="${l.userByUserId.username}"></td>
                        </div>
                    </tr>
                </table>
                <br>

                <table th:if="${p.getId() != 2}" class="table">
                    <tr>
                        <th> Users who cancelled it </th>
                    </tr>

                    <tr th:each="l: ${p.logsById}">
                        <div th:if="${!l.submitted}">
                            <td th:text="${l.userByUserId.username}"></td>
                        </div>
                    </tr>
                </table>
                <br>

                <table th:if="${p.getId() != 2}" class="table">

                    <div th:each="mq: ${p.marketingquestionsById}">

                        <tr>
                            <!--div th:with="myCounter = ${counter.getAndIncrement()}">
                                <th th:if="${myCounter==0}" th:text="${'Username'}">Username</th>
                            </div-->
                            <th th:text="${'Username'}">Username</th>
                            <th th:text="${mq.getText()}"></th>
                        </tr>

                        <tr th:each="ma: ${mq.marketinganswersById}">
                            <td th:text="${ma.userByUserId.username}"></td>
                            <td th:text="${ma.getText()}"></td>
                        </tr>

                    </div>

                </table>
                <br>

            </fieldset>
            <br>

        </div>
    </div>

    <br><br>

    <form action="GoToHomeAdmin" method="POST">
        <button id="back-button"> Back </button>
    </form>

    <!--button onclick='window.history.back()' id="back-button"> Back </button-->

</body>

</html>
