<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

   <head>
      <meta charset="ISO-8859-1">
      <title>  Home Page  </title>
      <a th:href="@{/Logout}" class="logout-button" href=""> Logout </a>
       <script src="../js/************.js"></script>
       <link rel="stylesheet" href="../css/style.css">
       <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
   </head>

   <body>

      <h1>Welcome to the User Home Page <span th:text="${' ' + session.user.code}"></span></h1><br>

      <fieldset>
         <h2>Image of the day</h2><br>
         <div class="product-of-the-day-container">
            <p id="image-description" > Universe </p><br>
            <img id="image" src="../../../../wip/img.jpg" alt="test-img" width="200" height="300"><br>
         </div>
      </fieldset>

      <div class="reviews-container">
         <h3>User's reviews</h3>

         <table class="reviews">
      		<tr>
      		    <th>Username</th>
      		    <th>Review</th>
      	    </tr>
             <!-- da levare-->
      	    <tr>
      		    <td>fra</td>
                <td>caspita bellissima</td>
      	    </tr>
             <tr th:each="r: ${reviews}">
              <td th:text="${r.userId}">fede</td>
              <td th:text="${r.description}">male</td>
           </tr>
         </table>

      </div><br><br>

      <div class="questionnaire-container">
         <a th:href="@{/**********}" id="questionnaire" href=""> Compile the questionnaire! </a>
      </div>
   </body>


</html>
